<beans>
    <bean id="logger"       class="ma.tajeddine.app.ConsoleLogger"/>
    <bean id="myRepository" class="ma.tajeddine.app.MyRepository"/>
    <bean id="myService"    class="ma.tajeddine.app.MyService">
        <constructor-arg ref="myRepository"/>
        <property name="logger" ref="logger"/>
    </bean>
</beans>